<!DOCTYPE html>
<html>
<head>
	<title>Кураторам</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script> -->
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
  </head>
</head>
<body>
    
	<% include blocks/navbar.ejs %> 
  <main role='main' class='container'>
    <form class='mt-5'>
      <div class="form-group">
        <label for="group_num">Номер группы</label>
        <textarea class="form-control" id="group_num" rows="1" required></textarea>
      </div>
      <div class="form-group">
        <label for="group_vk">Ссылка на группу</label>
        <textarea class="form-control" id="group_vk" rows="1" required></textarea>
      </div>
      <div class="form-group row m-3" id='course_choose'>
          <div class="col-sm-2">Предметы</div> 
          <div class="col-sm-10">
              <% courses = JSON.parse(courses); %> 
              <% for (i=0; i<courses.length; i++){ %>
              <div class="custom-control custom-checkbox mb-3">
                <input type="radio" class="custom-control-input" id="<%=courses[i].course_id+100%>" value="<%=courses[i].course_id%>" name="sub" required>
                <label class="custom-control-label" for="<%=courses[i].course_id+100%>"><%= courses[i].course_name %></label>
              </div>
            <% } %> 
          </div>
        </div>
    </form>
    <button class="btn btn-dark" id="check">Добавить участников группы в базу данных</button>
    
  </main>
  <script type="text/javascript">
    VK.init({apiId: 6770005});
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="/public/add_full_group.js"></script>
  
</body>
</html>