<!DOCTYPE html>
<html>
<head>
	<title>Посещение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
</head>
<body>

    <% include blocks/navbar.ejs %> 
    <div class="col-sm-2">Ученики, пропустившие практику</div>
      <% students = JSON.parse(students); %>  
			<div class="col-sm-10">
                <form action="/attend">
                    <% for (i=0; i<students.length; i++){ %>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="<%=students[i].student_vk%>" value="<%=students[i].student_vk%>" name="student_vk">
                                <label class="custom-control-label" for="<%=students[i].student_vk%>"><%= students[i].second_name %> <%= students[i].name %></label>
                            </div>
					<% } %> 
					<input style="display:none" name="group_vk" value="<%=students[0].group_vk%>">
					<input style="display:none" name="date" value="<%=date%>">
                    <button type='submit' class="btn btn-dark" >Отметить выделенным ученикам посещаемость</button>
                </form>
			</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>