<!DOCTYPE html>
<html>
<head>
	<title>Посещаемость</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
  </head>
</head>
<body>
    
	<% include blocks/navbar.ejs %> 
  <main role='main' class='container'>
    <form class='mt-5 needs-validation-group' action='/attendance'>
      <div class="col-sm-2">Группы</div>
      <% groups = JSON.parse(groups); %>  
			<div class="col-sm-10">
			  	<% for (i=0; i<groups.length; i++){ %>
			  			<div class="custom-control custom-checkbox mb-3">
							<input type="radio" class="custom-control-input" id="<%=groups[i].group_vk%>" value="<%=groups[i].group_vk%>" name="group_vk">
							<label class="custom-control-label" for="<%=groups[i].group_vk%>">группа номер <%= groups[i].group_num %></label>
						</div>
				<% } %> 
			</div>
		
          <div class="form-group">
            <label for="date">Дата для проверки посещаемости (DD.MM)</label>
            <textarea type='number'class="form-control" id="date" name="date" required pattern='(0[1-9]|[12][0-9]|3[01]|[1-9])\.(0[1-9]|1[012]|[1-9])'></textarea>
          </div>
    <button type='submit' class="btn btn-dark" id="check">Проверить посещаемость</button>
    </form>
  </main>
  <script type="text/javascript">
		VK.init({apiId: 6770005});
	  </script>
  <script src="/public/check_attendance_js.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>