<!DOCTYPE html>
<html>
<head>
	<title>Курсы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
</head>
<body>
	<% include blocks/navbar.ejs %> 
    <!-- <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <% for (i=0; i<courses.length; i++){ %>
                <a class="list-group-item list-group-item-action active" id="<%=courses[i].course_id%>" data-toggle="list" href="#list-home" role="tab" aria-controls="<%=courses[i].course_id%>"><%= courses[i].course_name %></a>  
            <% } %>     
        </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <% for (i=0; i<courses.length; i++){ %>
                    <div class="tab-pane fade show active" id="list-<%=courses[i].course_id%>" role="tabpanel" aria-labelledby="<%=courses[i].course_id%>"><%=courses[i].description%></div>
            <% } %> 
          </div>
        </div>
	  </div> -->
	  <% courses = JSON.parse(courses); %> 
      <div class="row">
            <div class="col-2">
              <div class="list-group" id="list-tab" role="tablist">
                <% for (i=0; i<courses.length; i++){ %>
                    <a class="list-group-item list-group-item-action" id="list-<%=courses[i].course_id%>-list" data-toggle="list" href="#list-<%=courses[i].course_id%>" role="tab" aria-controls="<%=courses[i].course_id%>"><%= courses[i].course_name %></a>  
                <% } %> 
              </div>
            </div>
            <div class="col-10">
              <div class="tab-content" id="nav-tabContent">
                <% for (i=0; i<courses.length; i++){ %>
                    <div class="tab-pane fade" id="list-<%=courses[i].course_id%>" role="tabpanel" aria-labelledby="list-<%=courses[i].course_id%>-list"><pre><%=courses[i].description%></pre></div>
                <% } %> 
                </div>
            </div>
          </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>