<!DOCTYPE html>
<html>
<head>
	<title>База данных учеников</title>  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
</head>
<body>
  <% include blocks/navbar.ejs %> 
	<button type="button" class="btn btn-secondary m-3" id='back'>Назад к выбору</button>
<!-- Кнопки выбора базы данных для работы -->
<!-- Каждая кнопка должна иметь название таблицы, необходимо для оптимизации запросов к бд
    Так же id должен совпадать со второй частью названия соответсвующей формы
    Например: button.id = students, form.id = form_students
    Необходимо для переключения видимости соответствующих форм-->
	<div class="container m-3" id="choose">
		<div class="row">
			<div class="btn-group mb-2" role="group" aria-label="Choose_1">
		        <button type="button" class="btn btn-secondary choose" id="students">Работа с учениками</button>
		        <button type="button" class="btn btn-secondary choose" id="courses">Работа с курсами</button>
		        <button type="button" class="btn btn-secondary choose" id="student_courses">Работа с курсами у ученика</button>
		    </div>
		</div>
		<div class="row">
			<div class="btn-group mb-2" role="group" aria-label="Choose_2">
			    <button type="button" style="display:none" class="btn btn-secondary choose" id="payment">Работа с оплатой</button>
			    <button type="button" class="btn btn-secondary choose" id="teachers">Работа с преподавателями</button>
		    </div>
		</div>
		<div class="row">
			<div class="btn-group" role="group" aria-label="Choose_3">
				<button type="button" class="btn btn-secondary choose" id="curators">Работа с кураторами</button>
				<button type="button" class="btn btn-secondary choose" id="groups">Работа с группами</button>
				<button type="button" class="btn btn-secondary choose" id="curator_group">Работа с группами куратора</button>
			</div>
		</div>
  </div>
<!-- кнопочки Добавить, Удалить 
    id используется для формирования URL для запроса-->
	<div class="btn-toolbar m-3" role="toolbar" aria-label="action" id='action'>
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<button type="button" class="btn btn-secondary action" id='add'>Добавить</button>
		</div>
		<div class="btn-group" role="group" aria-label="Third group">
			<button type="button" class="btn btn-secondary action" id='delete'>Удалить</button>
		</div>
	</div>
	<!-- паттерны для входных данных
	name - [А-Я][а-я]*
	second_name - [А-Я][а-я]*
	
	-->
<!-- форма для добавления ученика -->
	<form class='form m-3 needs-validation-person' id='form_students'>
		<h1>Добавить\удалить ученика</h1>
		<div class="form-row">
            <div class="col">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="15" pattern='[А-Я][а-я]*' required>
            </div>
            <div class="col">
                <label for="second_name">Фамилия</label>
                <input type="text" class="form-control" id="second_name" name="second_name" minlength="2" maxlength="15" pattern='[А-Я][а-я]*' required>
            </div>
		</div>
		<div class="form-row">
            <div class="col">
                <label for="vk">ID вконтакте ученика</label>
                <input type="number" class="form-control" id="vk" name="vk" min="0" required>
            </div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		      <input type="text" class="form-control" name="table_name" value="students">
		      <input type="text" class="form-control" name="primary_key" value="student_vk">
		    </div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- форма для добавления курса -->
	<form class='form m-3' id='form_courses'>
		<h1>Добавить\удалить курс</h1>
		<div class="form-row">
		    <div class="col">
			    <label for="course_name">Название курса</label>
			    <input type="text" class="form-control" id="course_name" name="course_name" minlength="2" maxlength="20" pattern='[А-Я][а-я]*' required>
		    </div>
		</div>
		<div class="form-row">
		    <div class="col">
		      <label for="price">Цена</label>
		      <input type="number" class="form-control" id="price" name="price" min="0" max="100000" required>
		    </div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		      <input type="text" class="form-control" name="table_name" value="courses">
		      <input type="text" class="form-control" name="primary_key" value="course_id">
		    </div>
		</div>	
		<div class="form-group">
			<label for="descr">Описание курса</label>
			<textarea class="form-control" id="descr" rows="4" name="description" minlength="50" maxlength="800"></textarea required>
		</div>				
        <!-- На сервере обрабаывается так: type.full_year -> false type.express -> true
        и это заполняется в таблицу курсов в столбец express -->
		<div class="custom-control custom-radio">
			<input type="radio" class="custom-control-input" id="customControlValidation2" name="type" value="express" required>
			<label class="custom-control-label" for="customControlValidation2">Экспресc</label>
		</div>
		<div class="custom-control custom-radio mb-3">
			<input type="radio" class="custom-control-input" id="customControlValidation3" name="type" value="full_year" required>
			<label class="custom-control-label" for="customControlValidation3">Годовой</label>
			<div class="invalid-feedback">Нужно выбрать тип</div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- форма добавления куратора -->
	<form class='form m-3 needs-validation-person' id='form_curators'>
		<h1>Добавить\удалить куратора</h1>
		<div class="form-row">
			<div class="col">
				<label for="name">Имя</label>
				<input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="15" pattern='[А-Я][а-я]*' required>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="second_name">Фамилия</label>
				<input type="text" class="form-control" id="second_name" name="second_name" minlength="2" maxlength="15" pattern='[А-Я][а-я]*' required>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="vk">ID вконтакте куратора</label>
				<input type="number" class="form-control" id="vk" name="vk" min="0" required>
			</div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		        <input type="text" class="form-control" name="table_name" value="curators">
		        <input type="text" class="form-control" name="primary_key" value="curator_vk">
		    </div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- добавление группе куратора -->
	<form class='form m-3' id='form_curator_group'>
		<h1>Добавить\удалить группу куратору</h1>
		<div class="form-row">
			<div class="col">
				<label for="vk">ID вконтакте куратора</label>
				<input type="number" class="form-control" id="vk" name="curator_vk" min="0" required>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="group_vk">ID вконтакте группы</label>
				<input type="number" class="form-control" id="group_vk" name="group_vk" min="0" equired>
			</div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		        <input type="text" class="form-control" name="table_name" value="curator_group">
		        <input type="text" class="form-control" name="primary_key" value="group_vk">
		        <input type="text" class="form-control" name="primary_key2" value="curator_vk">
		    </div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  	
	</form>
<!-- форма выбора курсов для всех общая 
    Этот код для того, чтобы отображались списки курсов в последующих формах, почему-то в первой встречающейся
    без этого кода он не отображается, возможно дело в скорости обработки, но вряд ли. Решить проблему адекватно не удалось
    Отправляются параметры в шаблонизатор вида JSON [course_id, course_name] парсится в массив и затем идет просто обращение-->
	<% courses = JSON.parse(courses); %> 
	<form class='form m-3' id='form12321'>
		<div class="form-group row m-3" id='course_choose'>
		<div class="col-sm-2">Предметы</div> 
			<div class="col-sm-10">
			  	<% for (i=0; i<courses.length; i++){ %>
			  			<div class="custom-control custom-checkbox mb-3">
							<input type="checkbox" class="custom-control-input" id="<%=courses[i].course_id+10212%>" value="<%=courses[i].course_id%>" name="sub123">
							<label class="custom-control-label" for="<%=courses[i].course_id+10212%>"><%= courses[i].course_name %></label>
						</div>
				<% } %> 
			</div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- форма добавления ученику курса -->
	<form class='form m-3' id='form_student_courses'>
		<h1>Добавить\удалить ученику курс</h1>
		<div class="form-row">
			<div class="col">
				<label for="vk">ID вконтакте ученика</label>
				<input type="number" class="form-control" id="vk" name="vk" min="0" required>
			</div>
		</div>	
		<div class="form-row">
		    <div class="col">
		        <label for="group_vk">ID вконтакте группы</label>
		        <input type="number" class="form-control" id="group_vk" name="group_vk" min="0" required>
		    </div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		        <input type="text" class="form-control" name="table_name" value="student_courses">
		        <input type="text" class="form-control" name="primary_key" value="student_vk">
		        <input type="text" class="form-control" name="primary_key2" value="course_id">
		    </div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- форма для добавления преподавателя -->
	<form class='form m-3 needs-validation-person' id='form_teachers'>
		<h1>Добавить\удалить преподавателя</h1>
		<div class="form-row">
			<div class="col">
				<label for="name">Имя</label>
				<input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="15" pattern='[А-Я][а-я]*' required>
			</div>
			<div class="col">
				<label for="second_name">Фамилия</label>
				<input type="text" class="form-control" id="second_name" name="second_name" minlength="2" maxlength="20" pattern='[А-Я][а-я]*' required>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="vk">ID вконтакте преподавателя</label>
				<input type="number" class="form-control" id="vk" name="vk" min="0" required>
			</div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		        <input type="text" class="form-control" name="table_name" value="teachers">
		        <input type="text" class="form-control" name="primary_key" value="teacher_vk">
		    </div>
		</div>
		<div class="form-group row m-3" id='course_choose'>
			<div class="col-sm-2">Предметы</div> 
			<div class="col-sm-10">
			  	<% for (i=0; i<courses.length; i++){ %>
			  			<div class="custom-control custom-checkbox mb-3">
							<input type="radio" class="custom-control-input" id="<%=courses[i].course_id+10%>" name="sub" value="<%=courses[i].course_id.toString()%>" required>
							<label class="custom-control-label" for="<%=courses[i].course_id+10%>"><%= courses[i].course_name %></label>
							
						</div>
				<% } %>
			</div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  
	</form>
<!-- форма для добавления группы -->
	<form class='form m-3 needs-validation-group' id='form_groups'>
		<h1>Добавить\удалить группу</h1>
		<div class="form-row">
			<div class="col">
				<label for="group_vk">ID вконтакте группы</label>
				<input type="number" class="form-control" id="group_vk" name='vk' min=0 required>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<label for="group_num">Номер группы</label>
				<input type="number" class="form-control" id="group_num" name='group_num' min=0 max='1000' required>
			</div>
		</div>
		<div class="form-row" style="display: None">
		    <div class="col">
		        <input type="text" class="form-control" name="table_name" value="groups">
		        <input type="text" class="form-control" name="primary_key" value="group_vk">
		    </div>
		</div>
		<div class="form-group row m-3" id='course_choose'>
			<div class="col-sm-2">Предметы</div> 
			<div class="col-sm-10">
			  	<% for (i=0; i<courses.length; i++){ %>
			  			<div class="custom-control custom-checkbox mb-3">
							<input type="radio" class="custom-control-input" id="<%=courses[i].course_id+100%>" value="<%=courses[i].course_id%>" name="sub" required>
							<label class="custom-control-label" for="<%=courses[i].course_id+100%>"><%= courses[i].course_name %></label>
						</div>
				<% } %> 
			</div>
		</div>
		<button type="submit" class="btn btn-secondary my-2">Подтвердить</button>  	
	</form>
	<script type="text/javascript">
		VK.init({apiId: 6770005});
	  </script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="/public/db_js.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>