<!DOCTYPE html>
<html>
<head>
	<title>Помощь</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
</head>
<body>
	<% include blocks/navbar.ejs %> 
  <div id="menu" class="m-3">
		<h4>Навигация</h4>
		<ul class="m-2">
			<li><a href="#add_full_group">Добавление полной группы</a></li>
			<li><a href="#check_attendance">Проверить посещаемость</a></li>
			<li><a href="#db_work">Работа с базой данных</a></li>
			<li><a href="#how_to_get_group_id">Как узнать айди группы</a></li>
		</ul>
	</div>
	<div id="main" class="col-sm-8 m-3">
		<h3 class="m-2" id="add_full_group">Добавление полной группы в базу данных</h3>
		<p class="m-2">
			  Для добавления целой группы в базу данных необходимо перейти в верхнем меню в раздел Управление -> Добавить полную группу 
			Заполните поля номер группы (целое число) и ссылку на группу. Допустимый формат ссылки http:vk.com/short_name_группы, vk.som/short_name_группы, vk.com/-id_группы 
			Выберите соответствующий предмет, к которой группа принадлежит. Нажмите кнопку отправить. В случае ошибки вы будете перенаправлены на страницу с ошибкой 
			В случае успеха - останетесь на этой странице.
		</p>
		<h3 class="m-2" id="check_attendance">Проверить посещаемость</h3>
		<p class="m-2">
			  Для проверки посещаемости необходимо перейти в верхнем меню в раздел Управление -> Проверить посещаемость 
			Заполните полня ID группы (целое число) и дата для проверки.  <a href="#how_to_get_group_id">Как узнать ID группы</a>. 
			Дата заполняется в формате DD.MM или DD.MM, иначе вы будете перенаправлены на страницу с ошибкой. 
			В случае успеха вы будете перенаправлены на страницу со списком учеников, которым не было отправлено сообщение вида "проверено DD.MM".
			<a href="#how_to_check_attendance">Как подключиться к системе проверки посещаемости</a>
		</p>
		<h3 id="db_work">Работа с базой данных</h3>
		<p class="m-2">
			  Для работы с базой данных вам необходимо перейти в верхнем меню в раздел Управление -> Работа с базой данных. 
			В данном разделе вам предоставляется возможность работать напрямую с базой данных. Сначала необходимо выбрать характер работы 
			На данный момент допуступны функции Добавить\Удалить элемент. После выбор действия вам предоставляется выбор базы данных для работы. 
			Выбрав необходимую, перед вами будет форма, которую необходимо полностью заполнить (все полня необходимы!). В случае успеха вы вернетесь к начальному выбору действия 
			В случае ошибки - перенаправлены на страницу с описанием ошибки.
		</p>
		<h3 id="how_to_get_group_id">Как узнать ID группы</h3>
		<p class="m-2">
			  Чтобы узнать айди группы необохдимо зайти на страницу соответствующей группы. Далее Выбрать любой пост и посмотреть на ссылку. 
			Она имеет вид https://vk.com/sf_math_2?w=wall-169779433_400. ID группы находится после "wall-".. В данном примере это 169779433.
		</p>
		<h3 id="how_to_check_attendance">Как подлючиться к системе проверки посещаемости группы</h3>
		<p class="m-2">
			  Для подробностей вам необходимо написать <a href="https://vk.com/thestarssayno">администратору</a>. Вам будет оказана помощь в подлючении своей группы 
			для слежки посещаемости. Для начала нужно зайти в свою группу -> Управление -> Работа с Api. Далее в верхнем меню выбрать раздел Callback API. 
			Далее необходимо найти поле адрес и ввести туда <b>https://sattarovwebservice.azurewebsites.net/callbackAPI</b>. Версия API - 5.92. Далее необходимо отправить 
			администратору "строку, которую должен вернуть сервер". В случае успеха, вы будете подключены к системе.
		</p>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>