<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="educational web service">
    <meta name="author" content="Abdullin Damir">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>SattarovFamily</title>

    <!-- Bootstrap core CSS -->

		<!-- Custom styles for this template -->
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script src="https://vk.com/js/api/openapi.js?159" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body >	
    <a id="photo_ren" style="display: none">
        <%= photo_rec %>
    </a>
		<a id="name_ren" style="display: none">
        <%= name %>
		</a>
		<a id="user_id" style="display: none">
        <%= uid %>
		</a>
		<a id="user_hash" style="display: none">
        <%= hash %>
    </a>
	<script>
		if(!Cookies.get("name")){
				var photo = document.getElementById("photo_ren").innerHTML.replace(/\s+/g, ''); 
        var name = document.getElementById("name_ren").innerHTML.replace(/\s+/g, ''); 
        var uid = document.getElementById("user_id").innerHTML.replace(/\s+/g, '');  
        var hash = document.getElementById("user_hash").innerHTML.replace(/\s+/g, ''); 
				document.cookie = "name="+name+"; path=/;"
				document.cookie = "photo_rec="+photo+"; path=/;"
				document.cookie = "uid="+uid+"; path=/;"
        document.cookie = "hash="+hash+"; path=/;"
		}
		</script>		

    <% include blocks/navbar.ejs %>

	
	<div id="carousel_teachers" class="carousel slide mt-5 carousel-fade" data-ride="carousel">
        
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="mx-auto d-block w-25" src="/public/images/Batir.jpg" alt="First slide" 
        href="/soc">
	    </div>
	    <div class="carousel-item">
	      <img class="mx-auto d-block w-25" src="/public/images/Naira.jpg" alt="Second slide"
        href="/hist">
	    </div>
	    <div class="carousel-item">
	      <img class="mx-auto d-block w-25" src="/public/images/Liza.jpg" alt="Third slide"
        href="/math">
	    </div>
	    <div class="carousel-item">
	      <img class="mx-auto d-block w-25" src="/public/images/Anna.jpg" alt="Forth slide"
        href="/rus">
	    </div>
	    <div class="carousel-item">
	      <img class="mx-auto d-block w-25" src="/public/images/Suzana.jpg" alt="Fifth slide"
        href="/eng">
	    </div>
	  </div>
	  <a class="carousel-control-prev" role="button" data-slide="prev" >
	    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="false"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
