<!DOCTYPE html>
<html>
<head>
	<title>Вход</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
</head>
<body>
    <h2 class="mx-auto my-2 text-center">
        Добро пожаловать на вебсервис для работы с онлайн-школой
        <b>SattarovFamily</b>
    </h2>
    <p class="mx-auto my-2 text-center">
        Для продолжения работы необходимо авторизоваться
    </p>


    <!-- VK Widget -->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
    <script type="text/javascript">
        VK.init({apiId: 6770005});
    </script>

    <!-- VK Widget -->
    <div class='m-auto' id="vk_auth"></div>
    <script type="text/javascript">
        VK.Widgets.Auth("vk_auth", {"width":250,"authUrl":"/home"});
    </script>

    <!-- <script type="text/javascript">
        VK.Auth.logout(null)
        var navlink = Array.from(document.querySelectorAll('nav-link'))
        navlink.forEach(element => {
            element.classList.add('disabled')
        });
        document.getElementById('vk_login').addEventListener('click', () =>{
            VK.Auth.login(null, 2621445);
        });
        VK.Observer.subscribe('auth.login', function(response){
            console.log('Logged in subscriber');
            document.getElementById('carousel_teachers').style.display = 'block';
            navlink.forEach(element => {
                element.classList.remove('disabled')
            }); 
        });
        VK.Auth.getLoginStatus(function(response){
            if(response.session)
                {
                    // пользователь авторизирован
                        
                }
            else
                {
                    // пользователь не авторизирован
                }
        });
        
                
    </script> -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>