<header>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="panel">
        <img src="/public/images/icon.jpg">
          <a class="navbar-brand mx-2" href="/home">SF</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Начальная страница<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown" id='staffOnly'>
                  <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Управление</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="/add_full_group">Добавить полную группу</a>
                      <a class="dropdown-item" href="/db_work">Работа с базой данных</a>
                      <a class="dropdown-item" href="/check_attendance">Проверить посещаемость</a>
                  </div>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/courses">Курсы<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help">Помощь</a>
              </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <a class="font-weight-bold text-light mr-3" id="name" ></a>
              <img id="photo">
            </form>
          </div>
        </nav>
    </header>
    <script>
      document.getElementById("photo").setAttribute("src", Cookies.get("photo_rec"));
		  document.getElementById("name").innerHTML =  Cookies.get("name") + "  "; 
    </script>